<!DOCTYPE html>
<html ng-app="directiveApp">
<head>
	<title>Animation</title>
	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="bower_components/angular/angular-animate.min.js"></script>
	<script type="text/javascript" src="./js/directives.js"></script>
	<link rel="stylesheet" type="text/css" href="css/animateExample.css">
</head>
<body>

	<div ng-controller="PatientsController">
	Number of patients: {{ patients.length }}.<br />
	<input type="search" ng-model="query" placeholder="Search Patients" />
		<table>
			<thead>
				<td>Index</td>
				<td>Name</td>
				<td>Age</td>
			</thead>
			<tbody>
				<tr ng-animate="'animate'" ng-repeat="patient in patients | filter:query as results">
					<td>{{$index + 1 }}</td>
					<td> {{ patient.name}}</td>
					<td>{{patient.age}} </td>
				</tr>
			</tbody>
		</table>

			<p ng-if="results.length == 0">
				<strong>No results found...</strong>
			</p>
		</ul>
	</div>
</body>
</html>

