<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>promises</title>
	<script type="text/javascript" src="node_modules/angular/angular.js"></script>
	<script type="text/javascript" src="./js/promises.js"></script>
	<link rel="stylesheet" type="text/css" href="css/directives.css">
</head>
<body>
	<h1>Promises</h1>


	<!-- <ul ng-controller="DashboardController">
	  	<li ng-repeat="info in getData">
	    	{{ info.name + ',' + pr.title }}
  		</li>
	</ul> -->
	<div ng-controller="DashboardController">
		<table>
			<thead>
				<td>Index</td>
				<td>Name</td>
				<td>Title</td>
				<td>Company</td>
				<td>Bio</td>
			</thead>
			<tbody>
			<tr ng-repeat="info in getData">
				<td>{{ $index +1 }}</td>
				<td>{{ info.name }}</td>
				<td>{{ info.title}}</td>
				<td>{{ info.company}}</td>
				<td>{{ info.bio }}</td>

			</tr>
			</tbody>
		</table>
	</div>
</body>
</html>

